<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>   <%=  mytitle %></title>
    <link rel="stylesheet" href="/mystyle.css">
</head>

<body>
   
    <h1>hello bihi</h1>
    <form action="/" method="POST">
        <input type="text" name="usersNameee" placeholder="Enter your name" required>
        <button type="submit">Send</button>
      </form>

      <h1><%= arr.at(-1).UserNameee %></h1>
      
</body>
</html>